---
layout: default
comments: true
---

<article
  class="post h-entry"
  itemscope
  itemtype="http://schema.org/BlogPosting"
>
  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">
      {{ page.title | escape }}
    </h1>
    <p class="post-meta">
      <time
        class="dt-published"
        datetime="{{ page.date | date_to_xmlschema }}"
        itemprop="datePublished"
      >
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y"
        -%} {{ page.date | date: date_format }}
      </time>

      • {% assign word_count = content | number_of_words %} {% assign read_time
      = word_count | divided_by: site.word_read_speed | ceil %}

      <em>{{ read_time }} min read</em>

      {%- if page.author -%} •
      <span itemprop="author" itemscope itemtype="http://schema.org/Person"
        ><span class="p-author h-card" itemprop="name"
          >{{ page.author }}</span
        ></span
      >
      {%- endif -%}
    </p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {% if page.image_url %} {% include image.html url=page.image_url
    description=page.image_description %} {% endif %} {% if page.excerpt %}
    <p class="lead">{{ page.excerpt | markdownify }}</p>
    {% endif %} {{ content }}
  </div>

  {%- if site.disqus.shortname -%} {%- include disqus_comments.html -%} {%-
  endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
